body {
	margin: 0;
	padding: 0;
}

.container1 {
	margin: 0;
	padding: 0;
	border: 1px solid black;
	width: 100%;
}

.topbanner {
	float: right;
}	

.container2 {
	padding: 20px 0;
	border: 1px solid black;
}

.biglogo img {
	display: block;
	margin: 0 auto;
}

.searchbar input{
	height: 35px;
	width: 100%;
}

.recent .box {
	display: inline-block;
	height: 180px;
	width: 180px;
	margin: 5px;
	border: 1px	solid blue;
}